.contenido
  contenedor_grid()
  margin-bottom: 50px

.caja
  caja-sombra()
  &__contenido
    padding: 20px
    min-height: 250px
    background-color: color-claro
    span
      color: color-secundario
      titulos(fuente2)
    h3
      font-weight: normal
      min-height: 60px
      titulos(fuente2)
  img {
    width: 100%
    object-fit: cover
  }