header.header--principal
	.header__top
		.logo.logo--header: img(src="../images/logo--header.svg")
		button.header__button: <i class="fas fa-bars"></i>
	nav.nav--header: ul
		li: a(href="pagina-principal.html") Inicio
		li: a(href="articulo.html") Articulo
		li: a(href="perfil.html") Perfil
	a(href="/html/resultados-busqueda.html" class="header__busqueda")
		i.fas.fa-search
		span Search