.estadistica--perfil {
  width: 100%;
  max-width: 380px;
  min-height: 90px;
  padding: 20px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  @include caja;

  h3 {
    font-weight: 600;
    text-align: center;
    @include titulos($fuente2);
  }
  span {
    font-size: 12px;
    @include titulos($fuente2);
  }
}