.articulos {
	padding: 50px 20px 0px;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.articulo {
	margin-bottom: 75px;
	border-bottom: 3px solid $color-secundario;
	&__categoria {
		font-weight: 500;
		font-size: 14px;
		color: $color-secundario;
		@include titulos($Fuente2);
	}
	&__titulo {
		font-size: 20px;
		color: $color-primario;
		@include titulos($Fuente2);
	}
	&__descripcion {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 30px;
		padding-right: 100px;
	}
}

.articulo--principal {
	width: 100%;
	max-width: 660px;
	padding: 50px 10px;
	margin: 0 auto;
	&__intro {
		font-size: 25px;
	}
	h3 {
		color: $color-secundario;
	}
	h2 {
		margin: 50px 0px 0px;
		text-align: center;
	}
}